body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 500px;
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #000;
    gap: 0px;
}

.color-mode-btn {
    display: block;
    margin: 5px 5px;
    padding: 8px;
    cursor: pointer;
}

.clear-button {
    display: block;
    margin: 5px 5px;
    padding: 8px;
    cursor: pointer;
}

.eraser-button {
    display: block;
    margin: 5px 5px;
    padding: 8px;
    cursor: pointer;
}

.grid-square {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    transition: background-color 0.3s; 
}


.slider-container {
    margin-right: 10px;
    display: block;
    align-items: center;
}


.slider-label {
    margin: 10px;
}