body {
    font-family: 'Geologica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin: 0;
}

.container {
    width: 500px;
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #000;
    gap: 0px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.grid-square {
    box-sizing: border-box;
    transition: background-color 0.3s; 
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px; /* Add some padding to the content */
}

.color-mode-pick {
    margin-top: 10px; 
    display: flex;
    align-items: center;
    
}

.color-label {
    margin-right: 10px;
}

.colorpicker {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    appearance: none;
}


.color-mode-btn,
.clear-button,
.eraser-button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    color: #333;
    border: 10px, #333;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.color-mode-btn.active,
.eraser-button.active,
.clear-button.active {
    background-color: #333;
    color: #ededed;
    transition: background-color 0.3s; 
    
}

.color-mode-btn:hover,
.eraser-button:hover {
    background-color: #333;
    color: #ededed;
}

.clear-button:hover{
    background-color: #333;
    color: #ededed;
}

.slider-container {
    margin-top: 10px; 
    display: flex;
    align-items: center;
    
}

.slider-label {
    margin-right: 10px; 
}

.slider {
    width: 100%;
     
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
    
} 

/* Adjust the color of the slider */
input[type="range"] {
    -webkit-appearance: none;
    width: 30%;
    height: 10px;
    background: #ededed;
    border: 1px solid #333;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}